{% extends 'cinemaAdminBundle::layout.html.twig' %}
{% block title %}Accueil Admin{% endblock %}
    
{% block body %}
    <div class="col-md-12">
        <a href="{{ path('admin_film_liste')}}" class="btn btn-primary"><span class="glyphicon glyphicon-facetime-video"></span> Liste des films</a>
        <a href="{{ path('admin_personne_liste')}}" class="btn btn-primary"><span class="glyphicon glyphicon-user"></span> Liste des réalisateurs</a>
        <a href="{{ path('admin_genre_liste')}}" class="btn btn-primary">Liste des genres</a>
    </div>
{% endblock %}    
